
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}



.gallery {
 position: relative; 
 text-align: center; 

}

.gallery .item {
  height: 200%;
  width: 200%; 
  text-align: center;
  background: #0f4e3b;
  position: center;
  align-content: center;
}


.gallery .controls {
  height: 40%;        
  position: absolute;
  bottom: -2em;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 3em .02em 0;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
      
}

.control-button {   
    max-height:200px;
    overflow:hidden;
    

}

