/*Global*/

body {
  margin: 1em;
  background-color: dimgrey;
  font-family: 'Garamond', serif;
  max-width: 100%;
  min-width: 100px;
  color: black;
  z-index: 50;
}

/* layout */
#home, #about, #resume, #portfolio {
    background-color: white;
    margin: -.4em 0 auto 0;
    padding: .5em 0 3em 0;
    border-radius: 2px;
}

p {
    margin: 4% 5% 0 5%;
    font-size: 1.3em;
    align-content: center;
    text-align: center;
}

.lists {
    list-style: none;
    font-size: 1.3em;
    text-decoration: none;
    margin: 3% 8% 10% 8%;
    text-align: center;
}

blockquote {
    text-align: center;
}

hr {
    margin: -25px 50px 0 50px;
    border-color: black;
    opacity: 0.3;
}

.bottom {
    margin-bottom: 4em;
}

/*images*/
.logo {
    width: 80px;
    height: auto;
    margin: -20px 0 -30px 0;
}

img {
  display: block;
  margin: 1em auto;
  width: 70%;
  height: auto;
}

/*Typography*/
h1, h2{
    font-family: 'Lato', sans-serif;
    color: black;
    padding: .5em;
   }
h2 {
  text-align: center;
  letter-spacing: .4em;
  font-size: 1.8em;
}
h3 {
 font-weight: 500;
 padding: .5em;
 margin: 0 10% 0 10%;
}

li {
    list-style: none;
    margin-top: .5em;
}

.resume-li {
    margin: -1em 15% 0 15%;
    padding: .75em;
  }


/*Navigation*/

a:link {
    text-decoration: none;
    display: inline;
    color: inherit;
    font-size: .9em;
    text-transform: lowercase;
}

a:hover {
text-shadow: 2px 2px 7px #01605F;
}

.nav {
    font-family: 'Lato', sans-serif;
    width: 98%;
    position: relative;
    padding: 0;
    margin: 0;
}

.nav ul {
list-style-type: none;
padding: 1em 0 0 0;
margin: 0;
height: 55px;
right: 15%;
float: right;
margin-top: -72px;
}

.nav ul li {
float: left;
height: 55px;
padding: 0;
margin-top: 0;


}

.nav ul li a {
margin: 0;
padding: 0 15px 0 15px;
line-height: 60px;
text-decoration: none;
color: #000;
text-transform: uppercase;
}

#home-nav, #about-nav, #resume-nav, #portfolio-nav {
    background-color: #029392;
    height: 55px;
    padding: 1em 2em .8em 2em;
    margin: .25em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.m-nav {
  display: none;
}

/* mobile */

@media screen and (max-width: 610px) {
h1 {
  height: auto;
 }
h2{
  font-size: 1.5em;
  }
.logo {
  display: inline-block;
 }

 /* nav-mobile */
.m-nav {
  display: block;
}

 main {
   z-index: 2;
   position: relative;
   height: 100%;
   -webkit-transition: transform .7s ease-in-out;
   -moz-transition: transform .7s ease-in-out;
   -ms-transition: transform .7s ease-in-out;
   -o-transition: transform .7s ease-in-out;
   transition: transform .7s ease-in-out;
 }

/*push out background*/
 .sidebar {
   height: 100%;
   width: 400px;
   position: fixed;
   top: 0;
   z-index:1;
   right: 0;
   background-color: #029392;
 }
/*menu icon before*/
 .bar {
   display: block;
   height: 5px;
   width: 50px;
   background-color: #029392;
   margin: 10px auto;
 }

 .button {
   cursor: pointer;
   display: inline-block;
   width: auto;
   margin: 0 auto;
   -webkit-transition: all .7s ease;
   -moz-transition: all .7s ease;
   -ms-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;
 }

 .nav-right {
   position: fixed;
   right: 40px;
   top: 20px;
 }

 .nav-right.visible-xs {
   z-index: 3;
 }

 .hidden-xs {
   display: none;
 }

 .middle {
   margin: 0 auto;
 }

 .bar {
   -webkit-transition: all .7s ease;
   -moz-transition: all .7s ease;
   -ms-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;
 }
/*icon after (x)*/
 .nav-right.visible-xs .active .bar {
   background-color: #FFF;
   -webkit-transition: all .7s ease;
   -moz-transition: all .7s ease;
   -ms-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;
 }

 .button.active .top {
   -webkit-transform: translateY(15px) rotateZ(45deg);
   -moz-transform: translateY(15px) rotateZ(45deg);
   -ms-transform: translateY(15px) rotateZ(45deg);
   -o-transform: translateY(15px) rotateZ(45deg);
   transform: translateY(15px) rotateZ(45deg);
 }

 .button.active .bottom {
   -webkit-transform: translateY(-15px) rotateZ(-45deg);
   -moz-transform: translateY(-15px) rotateZ(-45deg);
   -ms-transform: translateY(-15px) rotateZ(-45deg);
   -o-transform: translateY(-15px) rotateZ(-45deg);
   transform: translateY(-15px) rotateZ(-45deg);
 }
 .button.active .middle {
   width: 0;
 }
 .move-to-left {
   -webkit-transform: translateX(-400px);
   -moz-transform: translateX(-400px);
   -ms-transform: translateX(-400px);
   -o-transform: translateX(-400px);
   transform: translateX(-400px);
 }

 .sidebar-list {
   padding: 0;
   margin: 0;
   list-style: none;
   position: relative;
   margin-top: 150px;
   text-align: center;
 }

 .sidebar-item {
   margin: 30px 0;
   opacity: 0;
   -webkit-transform: translateY(-20px);
   -moz-transform: translateY(-20px);
   -ms-transform: translateY(-20px);
   -o-transform: translateY(-20px);
   transform: translateY(-20px);
 }

 .sidebar-item:first-child {
   -webkit-transition: all .7s .2s ease-in-out;
   -moz-transition: all .7s .2s ease-in-out;
   -ms-transition: all .7s .2s ease-in-out;
   -o-transition: all .7s .2s ease-in-out;
   transition: all .7s .2s ease-in-out;
 }

 .sidebar-item:nth-child(2) {
   -webkit-transition: all .7s .4s ease-in-out;
   -moz-transition: all .7s .4s ease-in-out;
   -ms-transition: all .7s .4s ease-in-out;
   -o-transition: all .7s .4s ease-in-out;
   transition: all .7s .4s ease-in-out;
 }

 .sidebar-item:nth-child(3) {
   -webkit-transition: all .7s .6s ease-in-out;
   -moz-transition: all .7s .6s ease-in-out;
   -ms-transition: all .7s .6s ease-in-out;
   -o-transition: all .7s .6s ease-in-out;
   transition: all .7s .6s ease-in-out;
 }

 .sidebar-item:last-child {
   -webkit-transition: all .7s .8s ease-in-out;
   -moz-transition: all .7s .8s ease-in-out;
   -ms-transition: all .7s .8s ease-in-out;
   -o-transition: all .7s .8s ease-in-out;
   transition: all .7s .6s ease-in-out;
 }

 .sidebar-item.active {
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -ms-transform: translateY(0px);
   -o-transform: translateY(0px);
   transform: translateY(0px);
 }

 .sidebar-anchor {
   color: #FFF;
   text-decoration: none;
   font-size: 1.8em;
   text-transform: uppercase;
   position: relative;
   padding-bottom: 7px;
 }

 .sidebar-anchor:before {
   content: "";
   width: 0;
   height: 2px;
   position: absolute;
   bottom: 0;
   left: 0;
   background-color: #FFF;
   -webkit-transition: all .7s ease-in-out;
   -moz-transition: all .7s ease-in-out;
   -ms-transition: all .7s ease-in-out;
   -o-transition: all .7s ease-in-out;
   transition: all .7s ease-in-out;
 }

 .sidebar-anchor:hover:before {
   width: 100%;
 }

.nav {
  display: none;
}
}

@media (min-width: 768px) {
  .nav-right {
    position: absolute;
  }
  .hidden-xs {
    display: block;
  }
  .visible-xs {
    display: none;
  }
}

@media (min-width: 480px) {
  .nav-list {
    display: block;
  }
}


/* gallery */

.gallery {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}
.gallery canvas {
  cursor: pointer;
}
.gallery__item {
  display: none;
}

.instructions {
  text-align: center;
  color: #999999;
  margin: 30px 0 20px;
}

.instructions__icon {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  fill: #999999;
}
.instructions__text {
  margin-right: 10px;
  font-weight: 400;
  font-size: 1.3em;
}

/*svg*/
.swipe {
  width: 50px;
  height: 50px;
  display: block;
  margin: 30px auto 30px;
  opacity: 0.4;
}
