/* Reasearch!

Fonts:
    Headers - font-family: 'Lato', sans-serif;
    Body - font-family: 'Merriweather', serif;





*/



/*Global*/
img {
    width: 50%
}
body{
    background: #0ebeff;
}
/*Layout*/


/*Typography*/

h1, h2 {
    font-family: 'Lato', sans-serif;
    color: red;
    
}

body {
 font-family: 'Merriweather', serif;   
}


/*Navigation*/


.nav li {
    display: inline;
    list-style: none;
    padding: 3em;
	margin-right: 4em;
}

a:link {
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {

}



