
body {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  text-align: center;
  color: black;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  max-width: 99%;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-family: 'Muli', sans-serif;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: black;
}

#header,
#content,
#footer {
  display: inline-block;
}

#header {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  position: fixed;
  z-index: 1;
  background-color: #0ead9a;
}

.DJH-logo-wrapper {
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
}

.logo{
  width: 120px;
}

.anchor {
  display: block;
  visibility: hidden;
  position: relative;
}

.menu,
.dropdown {
  display: none;
}

.tile {
  display: inline-block;
  width: 13%;
}

.tile-label {
  font-size: 1em;
  color: #353535;
  display: block;
}

hr.header-divider {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#content {
  z-index: 2;
  background-color: white;
  width: 100%;
  margin: 0 auto;
  margin-top: 170px;
}


.bio {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}


.fa-chevron-down {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}

#top {
  padding: 10px;
  display: block;
  position: fixed;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: none;
  background-color: #ccc;
  width: 50px;
  border-radius: 5px;
  opacity: .5;
}

#top i {
  color: #000;
}

.section-header {
  display: inline-block;
  margin-bottom: 20px;
}

.section {
  margin-top: 50px;
}

.project-header {
  font-weight: bold;
}

.section-text {
  padding-bottom: 20px;
}

.section-img{
  margin-bottom:3em;
}

#farwest-fab-pic{
  margin-bottom: 1em;
}

#kea-pic img{
  width: 250px;
  height: auto;
  margin-left: 10%;
}

hr.fancy-line {
    border: 0;
    height: 1px;

}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;
    top: 1px;
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

hr.fancy-line:after {
    background: #f4f4f4;
}

.desktop-table {
  margin-top: 20px;
}

.mobile-table {
  display: none;
}

th {
  text-align: right;
}

.skill-subject {
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  text-align: center;
  width: 25%;
}

.progress {
  margin-top: 10px;
  margin-bottom: -10px;
}

.progress,
.progress-bar {
  height: 10px;
}

.languages {
  background-color: #db3a34;
}

.proficient {
  width: 90%;
}

.comfortable {
  width: 55%;
}

.familiar {
  width: 25%;
}

.tools {
  background-color: #046865;
}

.other {
  background-color: #F2AE72;
}

.social-media {
  margin-bottom: 15px;
}

.social-media-icons {
  display: inline;
  padding: 25px;
}

.social-media-icons :hover{
  color: #DB3A34;
}

.contact-blurb {
  margin-bottom: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  margin-bottom: 6px;
}

#contact-send {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  background: #046865;
  width: 100px;
  border: none;
}

#contact-send:hover{
  background: #DB3A34;
}


#footer {
  background-color: #0ead9a;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 75px;
}

/* sm pic change */
@media (max-width:992px){

    #portfolio-section img{
  margin: 0 auto;
}

}


/*Mobile menu*/
@media only screen and (max-width: 800px),
only screen and (max-device-width: 800px) {

  .tile {
    display: none;
  }

  .DJH-logo-wrapper {
    float: right;
    margin-right: 50px;
  }

  .DJH-logo-wrapper svg {
    height: 55px;
  }

  .dropdown {
    display: inline;
    float: left;
    margin-left: 50px;
    margin-top: 45px;
    color: white;
    border: none;
    webkit-appearance: none;
  }

  .dropdown-menu li{
    font-size: 1.3em;
    margin: 1em;
  }

  .dropdown i {
    color: #faebd7;
  }

  .dropdown button {
    /* background: #faebd7; */
    background: linear-gradient( rgba(98, 92, 84, 0.5), rgba(98, 92, 84, 0.5));
    border: none;
  }

  .btn-default:hover{
    background: #046865;
  }

  .bio,
  .contact-blurb {
    width: 80%;
  }

}

@media only screen and (max-width: 450px),
only screen and (max-device-width: 450px) {
  .DJH-logo-wrapper {
    float: right;
    margin-right: 5%;
  }

  .dropdown {
    float: left;
    margin-left: 10%;
    color: white;
  }

  .desktop-table {
    display: none;
  }

  .mobile-table {
    display: block;
    font-size: .8em;
  }

  th {
    text-align: center;
  }

}
