/*Global*/
img {
    width: 50%
}
body{
    background: cornflowerblue;
}
/*Layout*/


/*Typography*/

body {
    font-family: 'Montserrat', sans-serif;
}


/*Navigation*/
a {
    background: grey;
    display: block;
    width: 100px;
    height: 50px;
    border-radius: 25%
}

.nav {
    display: inline-block;
}